#p1::before {
	content: "Przed elementem ";
	color: green;
	text-decoration: overline;
}

#p2::after {
	content: " Za elementem";
	color: red;
	text-decoration: underline;
}

#p3::first-letter {
	color: blue;
	text-transform: uppercase;
}

#p4::first-line {
	background-color: aqua;
}

p::selection {
	background-color: crimson;
}

a:hover {
	color: chartreuse;
}


/*focus nadpisuje pseudoklasę active*/

a:focus {
	color: chocolate;
}

a#p1:target {
	background-color: red;
}

p:lang(en) {
	font-style: italic;
}